langchain
pymongo
rdkit
fastapi
uvicorn
crewai
python-dotenv
unsloth
pytest
transformers
torch
streamlit
torch-geometric
torch-scatter
torch-sparse
torch-cluster
deepchem
scikit-learn
pandas
numpy
matplotlib
seaborn
networkx
biopython